<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Contacts App</title>
  </head>
  <body>
    <script>
    const ua = window.navigator.userAgent;
    const isIE = ua.indexOf('MSIE ') !== -1 || ua.indexOf('Trident/') !== -1;

    if (isIE) {
      document.write('Internet Explorer is not supported. Please use a modern browser e.g. Chrome, Firefox or Edge.');
    }
    </script>
    <noscript>
      <strong>We're sorry but contacts-app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
