<template>
    <v-card id="contacts">
        <v-content>
            <v-toolbar card prominent>
                <v-toolbar-title class="body-2 grey--text">
                    Contacts
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <ListMenu></ListMenu>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text>
                <v-toolbar
                  flat
                  color="white">
                    <v-spacer></v-spacer>
                    <ContactFormModal v-model="dialog"></ContactFormModal>
                    <v-spacer class="hidden-sm-and-up"></v-spacer>
                </v-toolbar>
                <v-container grid-list-xl>
                    <v-layout row wrap>
                        <v-flex xs12 lg5>
                            <ContactsSearchFilter></ContactsSearchFilter>
                        </v-flex>
                        <v-flex xs12 lg5 offset-lg2>
                            <ContactsLabelFilter></ContactsLabelFilter>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-container grid-list-xl class="pa-0">
                    <v-layout row wrap>
                        <v-flex xs12 text-xs-center text-sm-right class="py-0">
                            <SelectedContactsActions></SelectedContactsActions>
                        </v-flex>
                    </v-layout>
                </v-container>
                <ContactsTable
                  @contacts-table-show-item="showItem"
                  @contacts-table-edit-item="editItem"
                  @contacts-table-delete-item="deleteItem"></ContactsTable>
            </v-card-text>
        </v-content>
        <DetailsModal
          v-model="detailsDialog"
          @details-action-edit="editItem"
          @details-action-delete="deleteItem"></DetailsModal>
        <Snackbar></Snackbar>
    </v-card>
</template>
<script>
import ContactFormModal from '@/components/ContactFormModal'
import ContactsLabelFilter from '@/components/ContactsLabelFilter';
import ContactsSearchFilter from '@/components/ContactsSearchFilter';
import ContactsTable from '@/components/ContactsTable';
import DetailsModal from '@/components/DetailsModal';
import ListMenu from '@/components/ListMenu';
import SelectedContactsActions from '@/components/SelectedContactsActions';
import Snackbar from '@/components/Snackbar';
import { Actions } from '@/store/actions';
import { getDefaultContacts } from '@/utils/defaults-utils';

export default {
    components: {
        ContactFormModal,
        ContactsLabelFilter,
        ContactsSearchFilter,
        ContactsTable,
        DetailsModal,
        ListMenu,
        SelectedContactsActions,
        Snackbar,
    },
    created() {
        this.initialize()
    },
    data: () => ({
        dialog: false,
        detailsDialog: false,
    }),
    computed: {
        showFavorites() {
            return this.$store.state.contacts.showFavorites;
        },
        contacts() {
            return this.$store.state.contacts.items;
        },
    },
    watch: {
        dialog(val) {
            val || this.close()
        },
        detailsDialog(val) {
            val || this.close()
        }
    },
    methods: {
        async initialize() {
            let savedData;

            try {
                savedData = JSON.parse(localStorage.getItem('contacts-app-data'));
            } catch (error) {
                this.$store.dispatch(Actions.snackbar.showError, 'Error! Loading saved data failed.');
            }

            await this.$store.dispatch(Actions.contacts.updateContacts, savedData || getDefaultContacts());
            await this.$store.dispatch(Actions.contacts.saveContactsInLocalStorage);
            await this.$store.dispatch(Actions.contacts.initializeDefaultLabels);
        },
        async editItem(id) {
            await this.$store.dispatch(Actions.contacts.setSelectedContactId, id);
            this.dialog = true;
        },
        async deleteItem(id) {
            if (confirm('Are you sure you want to delete this contact?')) {
                await this.$store.dispatch(Actions.contacts.deleteSingleContact, id);
                await this.$store.dispatch(Actions.contacts.saveContactsInLocalStorage);
                await this.$store.dispatch(Actions.snackbar.showInfo, 'Contact removed successfully.');
                this.detailsDialog = false;
            }
        },
        async showItem(id) {
            await this.$store.dispatch(Actions.contacts.setSelectedContactId, id);
            this.detailsDialog = true;
        },
        async close() {
            await this.$store.dispatch(Actions.contacts.setSelectedContactId, 0);
            this.dialog = false;
            this.detailsDialog = false;
        },
    }
}
</script>
