<template>
  <v-flex
    xs12>
    <v-card
      id="home"
      class="elevation-0">
      <v-toolbar card prominent>
        <v-toolbar-title class="body-2 grey--text">
          Contacts App
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-spacer></v-spacer>
        <v-menu class="hidden-md-and-up">
          <template slot="activator">
            <v-toolbar-side-icon class="body-2 grey--text"></v-toolbar-side-icon>
          </template>
          <v-list>
            <v-list-tile @click="$router.push({ name: 'login' })">
              <v-list-tile-title>
                Log In
              </v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="$router.push({ name: 'register' })">
              <v-list-tile-title>
                Signup
              </v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="$router.push({ name: 'contact' })">
              <v-list-tile-title>
                Contact Us
              </v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
        <v-toolbar-items class="hidden-sm-and-down">
          <v-btn
            @click="$router.push({ name: 'login' })"
            flat
            class="body-2 grey--text">
            Log in
          </v-btn>
          <v-btn
            @click="$router.push({ name: 'register' })"
            flat
            class="body-2 grey--text">
            Signup
          </v-btn>
          <v-btn
            flat
            @click="$router.push({ name: 'contact' })"
            class="body-2 grey--text">
            Contact Us
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-card-text class="text-xs-center">
        <v-layout class="mt-5">
          <v-flex xs12 md6 offset-md3>
            <h1>Manage your contacts with ease!</h1>
            <p>
              Contacts App is a demo SPA application created in VueJS.
            </p>
            <LoginModal></LoginModal>
            <SignupModal></SignupModal>
          </v-flex>
        </v-layout>
        <v-layout class="my-5">
          <v-flex xs12 md6 offset-md3>
            <v-img
              :src="contactsAppImg"
              alt="Contacts App"></v-img>
          </v-flex>
        </v-layout>
      </v-card-text>
    </v-card>
    <Snackbar></Snackbar>
  </v-flex>
</template>

<script>
import LoginModal from '@/components/LoginModal';
import Snackbar from '@/components/Snackbar';
import SignupModal from "../components/SignupModal";

export default {
  components: {
    SignupModal,
    LoginModal,
    Snackbar
  },
  data: () => ({
    contactsAppImg: require("../assets/contacts-app.png"),
  }),
}
</script>
