<template>
    <v-flex xs12 sm8 offset-sm2>
        <v-card
          id="login"
          class="elevation-0">
            <v-toolbar card prominent>
                <v-toolbar-title class="body-2 grey--text">
                    Log in
                </v-toolbar-title>
            </v-toolbar>
            <v-card-text class="pa-2">
                <LoginForm @cancel-login-form="$router.push({ name: 'home' })"></LoginForm>
            </v-card-text>
        </v-card>
        <Snackbar></Snackbar>
    </v-flex>
</template>

<script>
import LoginForm from '@/components/LoginForm';
import Snackbar from '@/components/Snackbar';

export default {
    components: {
        LoginForm,
        Snackbar
    },
}
</script>
