<template>
    <v-flex xs12 sm8 offset-sm2>
        <v-card
          id="signup"
          class="elevation-0">
            <v-toolbar card prominent>
                <v-toolbar-title class="body-2 grey--text">
                    Signup
                </v-toolbar-title>
            </v-toolbar>
            <v-card-text class="py-5 text-xs-center">
                <em>Not implemented yet.</em>
            </v-card-text>
            <v-card-actions id="signup-form-actions">
                <v-spacer></v-spacer>
                <v-btn
                  @click="$router.push({ name: 'home' })"
                  flat
                  color="primary"
                  type="button">
                    Cancel
                </v-btn>
            </v-card-actions>
        </v-card>
        <Snackbar></Snackbar>
    </v-flex>
</template>

<script>
import Snackbar from '@/components/Snackbar';

export default {
    components: {
        Snackbar
    },
}
</script>
