<template>
  <v-dialog
    v-model="dialog"
    width="500">
    <template slot="activator">
      <v-btn icon>
        <v-icon>help</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title
        primary-title
        class="headline grey lighten-2">
        About
      </v-card-title>
      <v-card-text>
        <p>
          Contacts App features:
        </p>
        <ul>
          <li>Create, update, view and delete contacts</li>
          <li>Add avatars (avatars stores as Base64 string)</li>
          <li>Export contacts to CSV</li>
          <li>Search and filter</li>
          <li>Paginate results</li>
          <li>Add contacts to favorites and label them </li>
          <li>localStorage is used to store the data</li>
        </ul>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          @click="dialog = false"
          color="primary"
          flat>
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'AboutModal',
  data: () => ({
    dialog: false,
  })
}
</script>
