<template>
  <v-avatar
    :size="avatarSize"
    :style="{ cursor: clickable ? 'pointer' : 'default' }">
    <v-img
      v-if="avatarUrl"
      :src="avatarUrl"
      @click="chooseAvatar($event)"
      alt="avatar"></v-img>
    <v-img
      v-else
      :src="defaultAvatarUrl"
      @click="chooseAvatar($event)"
      alt="avatar"></v-img>
  </v-avatar>
</template>

<script>
import { getDefaultAvatar } from '@/utils/defaults-utils';

export default {
  name: 'Avatar',
  props: {
    avatarUrl: String,
    size: Number,
    clickable: Boolean
  },
  data: () => ({
    defaultAvatarUrl: getDefaultAvatar,
  }),
  computed: {
    avatarSize() {
      return `${this.size || 40}px`;
    }
  },
  methods: {
    chooseAvatar(event) {
      if (!this.clickable) {
        return;
      }

      this.$emit('select-avatar', event);
    }
  }
}
</script>
