<template>
  <v-dialog v-model="showModal" max-width="800px">
    <v-btn
      slot="activator" color="primary" dark class="mb-2">New Contact
    </v-btn>
    <v-card>
      <v-card-title>
        <span class="headline">{{ formTitle }}</span>
      </v-card-title>
      <v-form @submit.prevent="save" id="contact-form">
        <v-container
          grid-list-sm
          class="pa-4">
          <v-layout
            row wrap>
            <v-flex
              xs12 align-center justify-space-between>
              <v-layout align-center>
                <Avatar
                  :avatar-url="contact.avatarUrl"
                  :clickable="true"
                  @select-avatar="selectImage"
                  class="mr-3"></Avatar>
                <input
                  type="file"
                  ref="image"
                  accept="image/*"
                  class="d-none"
                  @change="onImageSelected">
                <v-text-field
                  v-model="contact.name"
                  name="contact-name"
                  label="Name"
                  required
                  :error-messages="nameErrors()"
                  @input="$v.contact.name.$touch()"
                  @blur="$v.contact.name.$touch()"></v-text-field>
              </v-layout>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                v-model="contact.email"
                name="contact-email"
                type="email"
                prepend-icon="mail"
                label="Email"
                :error-messages="emailErrors()"
                @input="$v.contact.email.$touch()"
                @blur="$v.contact.email.$touch()"></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                v-model="contact.phone"
                name="contact-phone"
                type="tel"
                prepend-icon="phone"
                label="Phone"></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                v-model="contact.notes"
                name="contact-notes"
                prepend-icon="notes"
                label="Notes"></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-combobox
                v-model="contact.labels"
                name="contact-labels"
                :items="availableLabels"
                label="Labels"
                chips
                prepend-icon="label"
                multiple
                clearable
                dense
                hide-selected>
                <template
                  slot="selection"
                  slot-scope="data">
                  <v-chip
                    :selected="data.selected"
                    close
                    @input="removeLabel(data.item)">
                    <strong>{{ data.item }}</strong>
                  </v-chip>
                </template>
              </v-combobox>
            </v-flex>
          </v-layout>
        </v-container>
        <v-card-actions>
          <v-btn
            flat
            color="primary"
            type="button"
            disabled>
            More
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            @click="showModal = false"
            flat
            color="primary"
            type="button">
            Cancel
          </v-btn>
          <v-btn
            flat
            type="submit">
            Save
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
import Avatar from '@/components/Avatar';
import { Empty } from '@/models/empty.model';
import { Actions } from '@/store/actions';
import { Getters } from '@/store/getters';
import { validationMixin } from 'vuelidate'
import { email, minLength, required } from 'vuelidate/lib/validators'

export default {
  name: 'ContactFormModal',
  components: {
    Avatar
  },
  mixins: [
    validationMixin
  ],
  props: {
    value: Boolean,
  },
  data: () => ({
    contact: { ...Empty.contact }
  }),
  validations: {
    contact: {
      name: {
        required,
        minLength: minLength(3)
      },
      email: { email }
    }
  },
  computed: {
    showModal: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    formTitle() {
      return !this.contact.id ? 'New Contact' : 'Edit Contact'
    },
    availableLabels() {
      return this.$store.state.contacts.availableLabels;
    }
  },
  watch: {
    value: {
      handler() {
        const selectedContact = this.$store.getters[Getters.contacts.selectedContact];

        this.contact = !selectedContact ? { ...Empty.contact } : { ...selectedContact };
        this.$v.$reset();
      },
      immediate: true
    }
  },
  methods: {
    async save() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      this.$v.$reset();

      const message = this.contact.id ? 'Contact modified successfully.' : 'Contact created successfully.';
      const availableLabels = this.$store.state.contacts.availableLabels;
      const updatedLabels = Array.from(new Set([...availableLabels, ...this.contact.labels]));

      await this.$store.dispatch(Actions.contacts.saveContact, this.contact);
      await this.$store.dispatch(Actions.contacts.updateAvailableLabels, updatedLabels);
      await this.$store.dispatch(Actions.snackbar.showInfo, message);
      await this.$store.dispatch(Actions.contacts.saveContactsInLocalStorage);
      await this.$store.dispatch(Actions.contacts.setSelectedContactId, 0);

      this.showModal = false;
    },
    selectImage() {
      this.$refs.image.click()
    },
    onImageSelected($event) {
      const files = $event.target.files;

      if (files[0] !== undefined) {
        this.imageName = files[0].name;
        if (this.imageName.lastIndexOf('.') <= 0) {
          return
        }
        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener('load', () => {
          this.imageUrl = fr.result;
          this.imageFile = files[0] ;// this is an image file that can be sent to server...
          this.contact.avatarUrl = this.imageUrl;  // FIXME Should utilize v-model
        })
      } else {
        this.imageName = '';
        this.imageFile = '';
        this.imageUrl = '';
        this.contact.avatarUrl = '';
      }

      this.$store.dispatch(Actions.contacts.saveContactsInLocalStorage);
    },
    nameErrors() {
      const errors = [];

      if (!this.$v.contact.name.$dirty) {
        return errors;
      }

      !this.$v.contact.name.minLength && errors.push('Name must be at most 3 characters long');
      !this.$v.contact.name.required && errors.push('Name is required.');

      return errors;
    },
    emailErrors() {
      const errors = [];

      if (!this.$v.contact.email.$dirty) {
        return errors;
      }

      !this.$v.contact.email.email && errors.push('Email must be a valid email address');

      return errors;
    },
    removeLabel(item) {
      this.contact.labels = [...this.contact.labels].filter(l => l !== item);
    },
  }
}
</script>
