<template>
  <v-combobox
    v-model="labelFilter"
    :items="availableLabels"
    label="Labels"
    multiple
    clearable
    dense
    hide-selected
    id="label-filter">
    <template
      slot="selection" slot-scope="data">
      <v-chip
        :selected="data.selected"
        small
        close
        @input="removeLabelFilter(data.item)">
        <strong>{{ data.item }}</strong>
      </v-chip>
    </template>
  </v-combobox>
</template>

<script>
import { Actions } from '@/store/actions';

export default {
  name: 'ContactsLabelFilter',
  computed: {
    availableLabels() {
      return this.$store.state.contacts.availableLabels;
    },
    labelFilter: {
      get () {
        return this.$store.state.contacts.filters.labels;
      },
      set (labels) {
        this.$store.dispatch(Actions.contacts.updateLabelFilter, labels);
      }
    }
  },
  methods: {
    removeLabelFilter(item) {
      const updatedLabels = [...this.labelFilter].filter(l => l !== item);

      this.$store.dispatch(Actions.contacts.updateLabelFilter, updatedLabels);
    }
  }
}
</script>
