<template>
  <v-data-table
    v-model="selectedContacts"
    :headers="headers"
    :items="filteredContacts"
    :search="searchFilter"
    item-key="name"
    select-all
    class="elevation-0"
    id="contacts-list">
    <template
      slot="items"
      slot-scope="props">
      <tr :id="'contact-' + props.item.id">
        <td class="checkbox-column">
          <v-checkbox
            v-model="props.selected"
            primary
            hide-details></v-checkbox>
        </td>
        <td class="px-0 text-xs-center">
          <Avatar
            :avatar-url="props.item.avatarUrl"
            data-property="contact-avatar"></Avatar>
        </td>
        <td
          @click="$emit('contacts-table-show-item', props.item.id)"
          class="cursor-pointer">
          <span data-property="contact-name">
            {{ props.item.name }}
          </span>
        </td>
        <td class="text-xs-left">
          <span data-property="contact-email">
            {{ props.item.email }}
          </span>
        </td>
        <td class="text-xs-left">
          <span data-property="contact-phone">
            {{ props.item.phone }}
          </span>
        </td>
        <td class="text-xs-left">
          <span
            v-for="element in props.item.labels"
            :key="element"
            @click="filterByLabel(element)"
            data-property="contact-label">
            <v-chip>
              {{ element }}
            </v-chip>
          </span>
        </td>
        <td class="justify-center layout px-0" :id="'contact-' + props.item.id + '-actions'">
          <v-icon
            @click="toggleFavoriteItem(props.item)"
            small
            class="mr-2">
            <template v-if="props.item.starred">star</template>
            <template v-else>star_border</template>
          </v-icon>
          <v-icon
            @click="$emit('contacts-table-edit-item', props.item.id)"
            small
            class="mr-2">
            edit
          </v-icon>
          <v-icon
            @click="$emit('contacts-table-delete-item', props.item.id)"
            small>
            delete
          </v-icon>
        </td>
      </tr>
    </template>
    <template slot="no-data">
      <div class="text-xs-center" id="no-data">
        No data.
      </div>
    </template>
    <template slot="no-results">
      <div class="text-xs-center" id="no-results">
        No results for current filters.
      </div>
    </template>
  </v-data-table>
</template>

<script>
import Avatar from '@/components/Avatar';
import { Actions } from '@/store/actions';
import { Getters } from '@/store/getters';
import { getDefaultAvatar } from '@/utils/defaults-utils';

export default {
  name: 'ContactsTable',
  components: {
    Avatar
  },
  data: () => ({
    defaultAvatarUrl: getDefaultAvatar,
    headers: [
      { text: '', value: 'avatarUrl', sortable: false },
      { text: 'Name', align: 'left', value: 'name', sortable: true },
      { text: 'Email', value: 'email', sortable: true },
      { text: 'Phone', value: 'phone', sortable: true },
      { text: 'Labels', value: 'labels', sortable: false },
      { text: 'Actions', value: 'name', align: 'center', sortable: false }
    ],
  }),
  computed: {
    contacts() {
      return this.$store.state.contacts.items;
    },
    filteredContacts() {
      return this.$store.getters[Getters.contacts.filteredContacts];
    },
    selectedContacts: {
      get() {
        return this.$store.getters[Getters.contacts.selectedContacts];
      },
      set(value) {
        const selectedContactsIds = value.map(c => c.id);

        this.$store.dispatch(Actions.contacts.setSelectedContacts, selectedContactsIds);
      }
    },
    searchFilter() {
      return this.$store.state.contacts.filters.search;
    },
    labelFilter() {
      return this.$store.state.contacts.filters.label;
    },
    showFavorites() {
      return this.$store.state.contacts.showFavorites;
    }
  },
  methods: {
    async toggleFavoriteItem(item) {
      await this.$store.dispatch(Actions.contacts.setFavoriteItemState, item.id);
      await this.$store.dispatch(Actions.contacts.saveContactsInLocalStorage);

      item.starred
        ? this.$store.dispatch(Actions.snackbar.showInfo, 'Contact added to favorites.')
        : this.$store.dispatch(Actions.snackbar.showInfo, 'Contact removed from favorites.');
    },
    filterByLabel(element) {
      this.$store.dispatch(Actions.contacts.updateLabelFilter, [element]);
    }
  }
}
</script>

<style>
.cursor-pointer {
  cursor: pointer;
}

.checkbox-column {
  width: 80px;
}
</style>
