<template>
  <v-text-field
    v-model="searchFilter"
    :clearable="true"
    append-icon="search"
    label="Search"
    id="search-filter"
    hide-details></v-text-field>
</template>

<script>
import { Actions } from '@/store/actions';

export default {
  name: 'ContactsSearchFilter',
  computed: {
    searchFilter: {
      get () {
        return this.$store.state.contacts.filters.search;
      },
      set (value) {
        this.$store.dispatch(Actions.contacts.updateSearchFilter, value);
      }
    },
  },
}
</script>
