<template>
  <v-dialog v-model="showModal" max-width="500px">
    <v-card
      v-if="contact"
      id="contact-details">
      <v-card-title>
        <v-container
          bg
          fill-height
          grid-list-md
          text-xs-center>
          <v-layout
            row
            wrap
            align-center>
            <v-flex>
              <Avatar
                :avatar-url="contact.avatarUrl"
                :size="200"
                row
                wrap
                align-center></Avatar>
            </v-flex>
          </v-layout>
        </v-container>
        <span
          class="headline"
          data-property="contact-name">
          {{ contact.name }}
        </span>
        <v-spacer></v-spacer>
        <v-btn
          @click="toggleFavoriteItem()"
          icon>
          <v-icon>
            <template v-if="contact.starred">star</template>
            <template v-else>star_border</template>
          </v-icon>
        </v-btn>
        <v-btn
          @click="$emit('details-action-edit', contact.id)"
          icon>
          <v-icon>edit</v-icon>
        </v-btn>
        <v-btn
          @click="$emit('details-action-delete', contact.id)"
          icon>
          <v-icon>delete</v-icon>
        </v-btn>
      </v-card-title>

      <v-container grid-list-xs>
        <template
          v-if="contact.email"
          data-property="contact-email">
          <v-layout row wrap align-center>
            <v-flex xs2>
              <v-icon>mail</v-icon>
            </v-flex>
            <v-flex xs10>
              <span class="subheading">
                {{ contact.email }}
              </span>
            </v-flex>
          </v-layout>
        </template>
        <template
          v-if="contact.phone"
          data-property="contact-phone">
          <v-flex xs10 offset-xs2>
            <v-divider class="my-3"></v-divider>
          </v-flex>
          <v-layout row wrap align-center>
            <v-flex xs2>
              <v-icon>phone</v-icon>
            </v-flex>
            <v-flex xs10>
              <span class="subheading">
                {{ contact.phone }}
              </span>
            </v-flex>
          </v-layout>
        </template>
        <template
          v-if="contact.notes"
          data-property="contact-notes">
          <v-flex xs10 offset-xs2>
            <v-divider class="my-3"></v-divider>
          </v-flex>
          <v-layout row wrap align-center>
            <v-flex xs2>
              <v-icon>notes</v-icon>
            </v-flex>
            <v-flex xs10>
              <span class="subheading">
                {{ contact.notes }}
              </span>
            </v-flex>
          </v-layout>
        </template>
        <template
          v-if="contact.labels.length"
          data-property="contact-labels">
          <v-flex xs10 offset-xs2>
            <v-divider class="my-3"></v-divider>
          </v-flex>
          <v-layout row wrap align-start>
            <v-flex xs2>
              <v-icon>label</v-icon>
            </v-flex>
            <v-flex xs10>
              <span
                v-for="element in contact.labels"
                :key="element"
                data-property="contact-label">
                <v-chip>
                  {{ element }}
                </v-chip>
              </span>
            </v-flex>
          </v-layout>
        </template>
      </v-container>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          @click="showModal = false"
          flat
          color="primary">Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Avatar from '@/components/Avatar';
import { Actions } from '@/store/actions';
import { Getters } from '@/store/getters';
import { getDefaultAvatar } from '@/utils/defaults-utils';

export default {
  name: 'DetailsModal',
  components: {
    Avatar
  },
  props: {
    value: Boolean
  },
  data: () => ({
    defaultAvatarUrl: getDefaultAvatar,
  }),
  computed: {
    showModal: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    contact() {
      return this.$store.getters[Getters.contacts.selectedContact];
    }
  },
  methods: {
    async toggleFavoriteItem() {
      await this.$store.dispatch(Actions.contacts.setFavoriteItemState, this.contact.id);

      this.contact.starred
        ? this.$store.dispatch(Actions.snackbar.showInfo, 'Contact added to favorites.')
        : this.$store.dispatch(Actions.snackbar.showInfo, 'Contact removed from favorites.');
    }
  }
}
</script>
