<template>
  <v-menu>
    <v-btn icon slot="activator">
      <v-icon>more_vert</v-icon>
    </v-btn>
    <v-list>
      <v-list-tile @click="toggleShowFavorites">
        <v-list-tile-title>
          <template v-if="showFavorites">
            Show all
          </template>
          <template v-else>
            Show favorites
          </template>
        </v-list-tile-title>
      </v-list-tile>
      <v-divider></v-divider>
      <v-list-tile @click="resetContactsToDefault">
        <v-list-tile-title>
          Initialize
        </v-list-tile-title>
      </v-list-tile>
      <v-list-tile @click="deleteAll">
        <v-list-tile-title>
          Remove all
        </v-list-tile-title>
      </v-list-tile>
    </v-list>
  </v-menu>
</template>

<script>
import { Actions } from '@/store/actions';
import { getDefaultContacts } from '@/utils/defaults-utils';

export default {
  name: 'ListMenu',
  computed: {
    showFavorites() {
      return this.$store.state.contacts.showFavorites;
    }
  },
  methods: {
    toggleShowFavorites() {
      const updatedShowFavoritesState = !this.$store.state.contacts.showFavorites;
      const message = updatedShowFavoritesState ? 'Showing favorite contacts.' : 'Showing all contacts.';

      this.$store.dispatch(Actions.contacts.setShowFavoritesState, updatedShowFavoritesState);
      this.$store.dispatch(Actions.snackbar.showInfo, message);
    },
    async deleteAll() {
      if (confirm('Are you sure you want to delete all contacts?')) {
        await this.$store.dispatch(Actions.contacts.deleteAllContacts);
        await this.$store.dispatch(Actions.contacts.saveContactsInLocalStorage);
        this.$store.dispatch(Actions.snackbar.showInfo, 'All contacts removed successfully.');
      }
    },
    async resetContactsToDefault() {
      await this.$store.dispatch(Actions.contacts.updateContacts, getDefaultContacts());
      await this.$store.dispatch(Actions.contacts.initializeDefaultLabels);
      await this.$store.dispatch(Actions.contacts.saveContactsInLocalStorage);
    },
  }
}
</script>
