<template>
  <v-dialog
    v-model="dialog"
    width="500">
    <template slot="activator">
      <v-btn>
        Log in
      </v-btn>
    </template>
    <v-card>
      <v-card-title
        primary-title
        class="headline grey lighten-2">
        Log in
      </v-card-title>
      <v-card-text class="pa-0">
       <LoginForm
         v-if="dialog"
         @cancel-login-form="dialog = false"></LoginForm>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import LoginForm from '@/components/LoginForm';

export default {
  name: 'LoginModal',
  components: {
    LoginForm,
  },
  data: () => ({
    dialog: false,
  })
}
</script>
