<template>
  <v-form @submit.prevent="authenticate" id="login-form">
    <v-card-text>
      <v-text-field
        v-model="username"
        :error-messages="usernameErrors()"
        @input="$v.username.$touch()"
        @blur="$v.username.$touch()"
        id="username"
        prepend-icon="person"
        name="login"
        label="Login"
        type="text"
        autofocus
        required></v-text-field>
      <v-text-field
        v-model="password"
        :error-messages="passwordErrors()"
        @input="$v.password.$touch()"
        @blur="$v.password.$touch()"
        id="password"
        prepend-icon="lock"
        name="password"
        label="Password"
        type="password"
        required></v-text-field>
    </v-card-text>
    <v-card-actions id="login-form-actions">
      <v-spacer></v-spacer>
      <v-btn
        @click="cancel"
        flat
        color="primary"
        type="button">
        Cancel
      </v-btn>
      <v-btn
        flat
        type="submit">
        Log in
      </v-btn>
    </v-card-actions>
  </v-form>
</template>

<script>
import { Actions } from '@/store/actions';
import { validationMixin } from 'vuelidate'
import { minLength, required } from 'vuelidate/lib/validators'

export default {
  name: 'LoginForm',
  mixins: [validationMixin],
  validations: {
    username: { required, minLength: minLength(3) },
    password: { required, minLength: minLength(3) }
  },
  data: () => ({
    username: '',
    password: ''
  }),
  methods: {
    usernameErrors() {
      const errors = [];
      if (!this.$v.username.$dirty) {
        return errors;
      }

      !this.$v.username.minLength && errors.push('Username must be at least 3 characters long');
      !this.$v.username.required && errors.push('Username is required.');

      return errors;
    },

    passwordErrors() {
      const errors = [];

      if (!this.$v.password.$dirty) {
        return errors;
      }

      !this.$v.password.minLength && errors.push('Password must be at least 3 characters long');
      !this.$v.password.required && errors.push('Password is required.');

      return errors;
    },

    authenticate() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      if (this.username === 'contacts' && this.password === 'demo') {
        this.$store.dispatch(Actions.auth.setAuthenticated, true);
        this.$router.push({path: '/'});
      } else {
        this.$store.dispatch(
          Actions.snackbar.showError,
          'Invalid credentials. Please use "contacts" and "demo" to login.'
        );
      }
    },
    cancel() {
      this.$emit('cancel-login-form');
    }
  }
}
</script>
