<template>
  <v-flex>
    <v-btn
      :disabled="!selectedContacts.length"
      @click="downloadSelected"
      color="primary"
      small
      flat
      class="mb-2 hidden-md-and-down">
      <v-icon
        small
        class="mr-1">
        get_app
      </v-icon>
      Download
    </v-btn>
    <v-btn
      :disabled="!selectedContacts.length"
      @click="deleteSelected"
      color="primary"
      small
      flat
      class="mb-2">
      <v-icon
        small
        class="mr-1">
        delete
      </v-icon>
      Delete
    </v-btn>
  </v-flex>
</template>

<script>
import { Actions } from '@/store/actions';
import { Getters } from '@/store/getters';

export default {
  name: 'SelectedContactsActions',
  computed: {
    selectedContacts() {
      return this.$store.getters[Getters.contacts.selectedContacts];
    }
  },
  methods: {
    downloadSelected() {
      if (!this.selectedContacts.length) {
        return;
      }

      const csvHeaders = 'Name,Email,Phone,Labels,Favorite';
      const csvContacts = this.selectedContacts
        .map(c => `"${c.name}",${c.email},${c.phone},"${c.labels.join(',')}",${c.starred}`)
        .join('\n');
      const csvContent = [csvHeaders, csvContacts].join('\n');
      const linkElement = window.document.createElement('a');

      linkElement.href = window.URL.createObjectURL(new Blob([csvContent], { type: 'text/csv' }));
      linkElement.download = 'contacts.csv';
      document.body.appendChild(linkElement);
      linkElement.click();
      document.body.removeChild(linkElement);
    },
    async deleteSelected() {
      if (confirm('Are you sure you want to delete selected contacts?')) {
        const selectedItemsIds = this.selectedContacts.map(i => i.id);

        await this.$store.dispatch(Actions.contacts.deleteMultipleContacts, selectedItemsIds);
        await this.$store.dispatch(Actions.contacts.saveContactsInLocalStorage);
        this.$store.dispatch(Actions.snackbar.showInfo, 'Selected contacts removed successfully.');
      }
    },
  }
}
</script>
