<template>
  <v-dialog
    v-model="dialog"
    width="500">
    <template slot="activator">
      <v-btn>
        Signup
      </v-btn>
    </template>
    <v-card>
      <v-card-title
        primary-title
        class="headline grey lighten-2">
        Signup
      </v-card-title>
      <v-card-text class="py-5 text-xs-center">
        <em>Not implemented yet.</em>
      </v-card-text>
      <v-card-actions id="signup-form-actions">
        <v-spacer></v-spacer>
        <v-btn
          @click="dialog = false"
          flat
          color="primary"
          type="button">
          Cancel
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'SignupModal',
  data: () => ({
    dialog: false,
  })
}
</script>
