<template>
  <v-snackbar
    v-model="visible"
    :color="colorClass"
    id="snackbar">
    {{ text }}
    <v-btn
      @click="visible = false"
      dark
      flat>
      Close
    </v-btn>
  </v-snackbar>
</template>

<script>
import { Actions } from '@/store/actions';

export default {
  name: 'Snackbar',
  computed: {
    colorClass() {
      return this.$store.state.snackbar.colorClass;
    },
    text() {
      return this.$store.state.snackbar.text;
    },
    visible: {
      get: function () {
        return this.$store.state.snackbar.visible;
      },
      set: function (newValue) {
        if (!newValue) {
          this.$store.dispatch(Actions.snackbar.reset);
        }
      }
    }
  },
}
</script>
