<template>
  <v-app>
    <v-toolbar
      color="primary"
      dark
      extended
      flat
      id="app-nav">
      <v-spacer></v-spacer>
      <AboutModal></AboutModal>
      <v-btn
        v-if="isAuthenticated"
        @click="logout"
        icon>
        <v-icon>logout</v-icon>
      </v-btn>
    </v-toolbar>
    <v-layout>
      <v-flex xs10 offset-xs1 sm8 offset-sm2 class="card--flex-toolbar">
        <router-view></router-view>
      </v-flex>
    </v-layout>
    <v-footer>
      <v-flex text-xs-center xs12>
        &copy;2019 — <strong>
        <a href="https://qalabs.pl" target="_blank">QA Labs</a>
      </strong>
      </v-flex>
    </v-footer>
  </v-app>
</template>

<script>
import AboutModal from '@/components/AboutModal'
import { Actions } from '@/store/actions';

export default {
  components: {
    AboutModal
  },
  computed: {
    isAuthenticated() {
      return this.$store.state.auth.authenticated;
    }
  },
  methods: {
    logout() {
      this.$store.dispatch(Actions.auth.setAuthenticated, false);
      this.$router.push({path: '/home'});
    }
  }
}
</script>

<style>
.card--flex-toolbar {
  margin-top: -64px;
}
</style>
